<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058511507637-oppoishdjjvuhmj2pdp5dtc8tss3o2dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058511507637-oppoishdjjvuhmj2pdp5dtc8tss3o2dh</string>
	<key>API_KEY</key>
	<string>AIzaSyCzYeHUyJFlefM96Foua7Cy6LQD2oRjn8I</string>
	<key>GCM_SENDER_ID</key>
	<string>1058511507637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangdon.fastcampusMarket</string>
	<key>PROJECT_ID</key>
	<string>sangdon-market-3ae08</string>
	<key>STORAGE_BUCKET</key>
	<string>sangdon-market-3ae08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058511507637:ios:964d5a623613cb924c6efc</string>
</dict>
</plist>